@model ClinicX.ViewModels.ClinicalNoteVM

@{
    ViewData["Title"] = "Clinic-X - Create Clinical Note";
    ViewData["Page"] = "/ Clinical Note / New Clinical Note";
    ViewData["HomeBtn"] = Html.ActionLink("Home Page", "Index", "Home", new { }, new { @class = "btn btn-success m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Patient Details", "PatientDetails", "Patient", new { id = Model.activityItem.MPI }, new { @class = "btn btn-success m-1" }),
        Html.ActionLink("Clinical Notes Index", "Index", "ClinicalNote", new { id = Model.activityItem.MPI }, new { @class = "btn btn-success m-1" })
    };
}

<div class="container card">
    
    <hr />

    <h1>New Clinical Note</h1>


    <div class="container mb-5">
    
        <form id="ClinicalNote" asp-action="Create">
            <div id="metadata" hidden>
                <input name="refID" value=@Model.activityItem.RefID />
                <input name="mpi" value=@Model.activityItem.MPI />
            </div>

            <div class="row mb-5">
                <div class="col-md-2">
                    Note Type:
                </div>
                <div class="col-md-4">               
                    <select id="ddlNoteType" name="noteType">  
                        <option value="" selected></option>
                        @foreach (var n in Model.noteTypeList)
                        {
                            <option value=@n.NoteType>@n.NoteType</option>
                        }
                    </select>                
                </div>
                <div class="col-md-6"></div>
            </div>

            <div class="row mb-5">
                <div class="col-md-2">Details:</div>
                <div class="col-md-8">                    
                    <textarea id="txtClinicalNote" rows="20" cols="120" name="clinicalNote"></textarea>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row mb-5">
                <div class="col-md-2">
                    <input type="button" class="btn btn-default btn-outline-success" value="Save" id="btnSaveNote" />
                </div>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">
    document.getElementById("btnSaveNote").addEventListener("click", SaveNote);

    function SaveNote() 
    {        
        if (CheckFormValid() == 1) 
        {
            document.getElementById("ClinicalNote").submit();
        }
    }     

    function CheckFormValid() 
    { //validation to ensure all required data is entered
        
        if (document.getElementById("ddlNoteType").value == null || document.getElementById("ddlNoteType").value == "") 
        {
            window.alert("Please select a note type.");
            return 0;
        }

        if (document.getElementById("txtClinicalNote").value == null || document.getElementById("txtClinicalNote").value == "") 
        {
            window.alert("Please enter some text.");
            return 0;
        }

        if (document.getElementById("txtClinicalNote").value.match(/};.*/)) 
        {
            window.alert("Oi! Stop trying to inject SQL code into my form!");
            return 0;
        }
        
        return 1;
    }


</script>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
            }