@model ClinicX.ViewModels.ClinicalNoteVM

@{
    ViewData["Title"] = "Clinic-X - Edit Clinical Note";
    ViewData["Page"] = "/ Clinical Note / Edit Clinical Note";
    ViewData["HomeBtn"] = Html.ActionLink("Home Page", "Index", "Home", new { }, new { @class = "btn btn-success m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Patient Details", "PatientDetails", "Patient", new { id = Model.patient.MPI }, new { @class = "btn btn-success m-1" }),
        Html.ActionLink("Clinical Notes Index", "Index", "ClinicalNote", new { id = Model.patient.MPI }, new { @class = "btn btn-success m-1" }),
        Html.ActionLink("Extract HPO Codes", "HPOTerm", "HPO", new { id = Model.clinicalNote.ClinicalNoteID }, new { @class = "btn btn-success m-1" })
    };
}

<div class="container card">
    
    <hr />

    <h1>Edit clinical note for @Model.patient.FIRSTNAME @Model.patient.LASTNAME</h1>

    @if (Model.clinicalNote.CN_DCTM_sts == 0)
    {
        <h2 class="redtext">This note has not been finalised - it will not appear in EDMS.</h2>
    }

    <div class="container mb-5">
        <form id="ClinicalNote" asp-action="Edit">
            <div id="metadata" hidden>            
                <input asp-for=@Model.clinicalNote.ClinicalNoteID name="noteID" />
                <input id="txtDCTMSts" asp-for=@Model.clinicalNote.CN_DCTM_sts />
            </div>

            <div class="row mb-5">
                <div class="col-md-2">
                    Note Type:
                </div>
                <div class="col-md-4">                
                    <input id="txtNoteType" asp-for=@Model.clinicalNote.NoteType readonly="readonly" />
                </div>
                <div class="col-md-6"></div>
            </div>

            <div class="row mb-5">
                <div class="col-md-2">Details:</div>
                <div class="col-md-8">
                    <textarea id="txtClinicalNote" rows="20" cols="120" asp-for=@Model.clinicalNote.ClinicalNote name="clinicalNote"></textarea>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row mb-5">
                <h4 id="instructions">Enter your note and save. Click "Finalise" when done editing</h4>
                <h4 id="instructions2">Please make sure you save your note and are happy with it before finalising it as you will not be able to undo this.</h4>
            </div>        
        </form>

        <div class="row">
            <div class="col-md-2">
                <input type="submit" class="btn btn-default btn-outline-success" value="Save" id="btnSaveNote" />
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-2">
                <a type="button" class="btn btn-default btn-outline-success" id="btnFinalise" asp-controller="ClinicalNote" asp-action="Finalise" asp-route-id=@Model.clinicalNote.ClinicalNoteID asp-route-isSaved="true">Finalise</a>
                @*<a type="button" class="btn btn-default btn-outline-danger" id="btnFinaliseNotSaved" asp-controller="ClinicalNote" asp-action="Finalise" asp-route-id=@Model.clinicalNote.ClinicalNoteID hidden>Finalise</a>*@
                <button type="button" class="btn btn-default btn-outline-danger" id="btnFinaliseNotSaved" hidden>Finalise</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //document.getElementById("btnBack").addEventListener("click", GoBack);
    document.getElementById("btnSaveNote").addEventListener("click", SaveNote);
    document.getElementById("txtClinicalNote").addEventListener("input", SetNoteNotSaved);
    document.getElementById("btnFinaliseNotSaved").addEventListener("click", NotFinalisedMessage);
    window.addEventListener("load", LoadNote);

    function LoadNote()
    {
        //document.getElementById("metadata").hidden = true;
        
        if (document.getElementById("txtDCTMSts").value == 1)
        {
            document.getElementById("txtNoteType").disabled = true;
            document.getElementById("txtClinicalNote").disabled = true;
            document.getElementById("btnSaveNote").hidden = true;
            document.getElementById("btnFinalise").hidden = true;
            document.getElementById("instructions").hidden = true;            
            document.getElementById("instructions2").hidden = true;
        }                
    }

    function SetNoteNotSaved()
    {
        document.getElementById("btnFinalise").hidden=true;
        document.getElementById("btnFinaliseNotSaved").hidden=false;
    }

    function NotFinalisedMessage()
    {
        window.alert("You need to save the note before you can finalise it, or the changes will not be processed.");
    }

    function GoBack() 
    {
        window.history.back();
    }

    function SaveNote() 
    {
        if (CheckFormValid() == 1) 
        {            
            document.getElementById("ClinicalNote").submit();
        }
    }

    function CheckFormValid() 
    { //validation to ensure all required data is entered
        
        if (document.getElementById("txtClinicalNote").value == null || document.getElementById("txtClinicalNote").value == "") {
            window.alert("Please enter some text.");
            return 0;
        }
        
        if (document.getElementById("txtClinicalNote").value.match(/};.*/)) {
            window.alert("Oi! Stop trying to inject SQL code into my form!");
            return 0;
        }
        
        return 1;
    }


</script>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
            }