@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="text-align:center">@ViewData["Title"]</h1>
<br />
<br />
<h2 style="text-align:center">...seriously? You actually want to know our privacy policy?</h2>
<br />
<h2 style="text-align:center">Okay...uh...we won't tell anyone, honest. That good enough for you?</h2>
<br />
<h2 style="text-align:center">Who even reads this stuff anyway??</h2>
