html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.img-blurrededge {
    background-color: #f5f7fb;
    box-shadow: 0 0 2px 10px #f5f7fb;
    border-radius: 10px;
}


.redtext {
    color:red;
}

.greybg {
    background-color: lightgrey;
}

.solidbordertext {
    border: solid;
}

.mediumfonttext {
    font-size: medium;
}