@model ClinicX.ViewModels.PhenotipsVM

<div class="container">

    <h1>Here is your QR code!</h1>

    <div class="text-center">
        <img height="250" width="250" src='data:image/png;base64,@Model.ppqQR' />
    </div>



</div>