@model ClinicX.ViewModels.ICPVM

@{
    ViewData["Title"] = "ClinicX - Change Triaging Clinician(s)";
    ViewData["Page"] = "/ Triage / Change General Triage";
    ViewData["HomeBtn"] = Html.ActionLink("Home Page", "Index", "Home", new { }, new { @class = "btn btn-success m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {        
        Html.ActionLink("Back to Triage Details", "ICPDetails", "Triage", new { id=Model.icpGeneral.ICPID }, new { @class = "btn btn-success m-1" }),
    };
}

<div class="container card">
    <div class="row mb-5 g-5">
        <h1>Change Triaging Clinicians</h1>
    </div>

    <div class="row mb-5 g-5">
        <form asp-action="ChangeGeneralTriage">
            <div class="row" hidden>
                <input name="icpId" asp-for=@Model.icpGeneral.ICPID />
            </div>
            <div class="row mb-5 g-5">
                <div class="col-md-2">
                    <label>Consultant:</label>
                </div>
                <div class="col-md-4">
                    <select id="ddlCons" asp-for=@Model.triage.ConsultantCode name="newConsultant">
                        @foreach(var item in Model.consultants)
                        {
                            <option value=@item.STAFF_CODE>@item.NAME</option>
                        }
                    </select>
                </div>            
                <div class="col-md-2">
                    <label>GC:</label>
                </div>
                <div class="col-md-4">
                    <select asp-for=@Model.triage.GCCode name="newGC">
                        @foreach (var item in Model.GCs)
                        {
                            <option value=@item.STAFF_CODE>@item.NAME</option>
                        }
                    </select>
                </div>
            </div>            

            <div class="row mb-5 g-5">
                <div class="col-md-2">
                    <button class="btn btn-outline-success">Confirm</button>
                </div>
            </div>
        </form>

        <form asp-action="ReturnToConsultant">
            <div class="row mb-5 g-5">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-outline-success">Return Case to Consultant</button>
                </div>
                <div class="col-md-2">
                    <input asp-for=@Model.icpGeneral.ICPID name="icpId" hidden="true" />
                </div>
            </div>
        </form>       
    </div>
</div>

<script>
    window.addEventListener("load", LoadICPDet);

    function LoadICPDet() 
    { 
        if(@Model.icpGeneral.TreatPath != null)
        {
            document.getElementById("ddlCons").disabled = true;
        }
    }   
   

</script>
