@model ClinicX.ViewModels.ProfileVM

@{
    ViewData["Title"] = "ClinicX - Change Password";
    ViewData["Page"] = "/ Profile / Change Password";
    ViewData["HomeBtn"] = Html.ActionLink("Home Page", "Index", "Home", new { }, new { @class = "btn btn-success m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Back to Profile Details", "ProfileDetails", "UserProfile", new { id=Model.staffMember.STAFF_CODE }, new { @class = "btn btn-success m-1" }),
    };
}

<div class="container">
    <div class="row mb-5 g-5">
        <h1 class="text-center">Change Password for @Model.staffMember.EMPLOYEE_NUMBER (@Model.staffMember.NAME)</h1>
    </div>

    <form id="frmChangePassword" asp-action="ChangePassword">
        <div class="row mb-2 g-2">
            <div class="col-md-2">
                <label>Current password:</label>
            </div>
            <div class="col-md-8">
                <input type="password" id="txtCurPassword" name="curPassword" />
            </div>
        </div>

        <div class="row mb-2 g-2">
            <div class="col-md-2">
                <label>New password:</label>
            </div>
            <div class="col-md-8">
                <input type="password" id="txtNewPassword" name="newPassword" />
            </div>
        </div>

        <div class="row mb-2 g-2">
            <div class="col-md-2">
                <label>Confirm password:</label>
            </div>
            <div class="col-md-8">
                <input type="password" id="txtNewPasswordConf" name="newPasswordConf" />
            </div>
        </div>

    

        <div class="row mb-5 g-5">
            <div class="col-md-2">
                @*<a type="button" class="btn btn-success" asp-controller="UserProfile" asp-action="ProfileDetails">Back</a>*@
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-2">
                <button type="button" class="btn btn-outline-success" id="btnSavePassword">Save</button>
            </div>
        </div>
    </form>

</div>

<script>
    document.getElementById("btnSavePassword").addEventListener("click", UpdatePassword);

    function UpdatePassword()
    {
        var curPW = document.getElementById("txtCurPassword").value;
        var newPW = document.getElementById("txtNewPassword").value;
        var newPWConf = document.getElementById("txtNewPasswordConf").value;              

        if ("@Model.staffMember.PASSWORD" != curPW)
        {
            window.alert("Your current password does not match.");
        }
        else
        {
            if (newPW != newPWConf)
            {
                window.alert("The passwords you have entered do not match.");
            }
            else
            {
                document.getElementById("frmChangePassword").submit();
            }
        }
    }
</script>
